h1{
	color: whitesmoke;
    font-family: cursive;
}
*{
	color: whitesmoke;
	font-family: cursive;
    
}
a{
	font-size: 30px;
	color: whitesmoke;
	font-family: initial;
}
#ui1{
	font-family: initial;
}
#qq1{
	font-family: initial;
}